GEMINI_API_KEY=your_api_key
GROQ_API_KEY=your_api_key
OPENROUTER_API_KEY=your_api_key

EMBEDDING_MODEL=all-MiniLM-L6-v2
GOOGLE_MODEL=gemini-2.5-flash
GROQ_MODEL=llama-3.3-70b-versatile
OPENROUTER_MODEL=openai/gpt-4o-mini